.about {
    padding: 20px 0;

    .about-collapses {
        max-width: 1024px;
        margin: 0 auto;

        .collapse {
            margin-bottom: 90px;
        }

        .collapse:last-child {
            margin-bottom: 20px;
        }
    }
}