.collapse {
    margin-bottom: 10px;

    .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ff6060;
        color: white;
        padding: 15px 20px;
        border-radius: 5px;
        cursor: pointer;
        min-height: 47px;

        .collapse-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 24px;
        }

        .collapse-arrow {
            font-size: 24px;
            font-weight: bold;
            transform: rotate(-90deg);
            transition: transform 0.3s ease;

            &.open {
                transform: rotate(90deg);
            }
        }
    }

    .collapse-content {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        border-radius: 0 0 5px 5px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0 20px;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out, padding 0.5s ease-out;

        &.open {
            max-height: 500px;
            opacity: 1;
            padding: 20px;
        }

        p, li {
            margin: 0;
        }

        ul {
            list-style: none;
        }
    }

    @media (max-width: 768px) {
        margin-bottom: 5px;

        .collapse-header {
            padding: 10px 15px;
            border-radius: 5px;
            min-height: 30px;

            .collapse-title {
                font-size: 13px;
            }

            .collapse-arrow {
                font-size: 16px;
            }
        }

        .collapse-content {
            font-size: 12px;

            &.open {
                padding: 10px;
            }
        }
    }
}