.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 1.4rem 0;
    color: #ff6060;

    .header-logo {
        width: 150px;
        height: auto;
    }

    nav {
        display: flex;
        gap: 50px;

        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-size: 18px;

            &.active {
                text-decoration: underline;
            }
        }
    }

    @media (max-width: 768px) {
        .header-logo {
            content: url('../assets/images/LOGO_M.png');
            width: 145px;
        }

        nav {
            a {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}