.home {
    padding: 20px;

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        gap: 20px;
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 25px;
    }
}